body{
    margin:0px;
    padding:0px;   
    background-color: #F5F8FF;
}
main{ 
    margin: 100px 100px ;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
}


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; }
header{
    background-image: url(./image/Hero-bg.png);
    height: 698px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 85px;

}
.logo{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
    color:#4E47FF;
}

button{
    background-color: #4E47FF;
    height: 48px;
    width: 132px;  
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-style: none;
}
button:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
}
.banner{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
}
.banner-title{
    font-family: "Raleway", sans-serif;
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    margin: 0px 200px 37px 200px;
    line-height: auto;
    text-align: center;
}
/* header section end */


/* main section start */
/* action section start */
.action-live{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-content{
    justify-content: center;
    align-items: center;
    height:203px ;
    width:517px;
    gap: 23px;
}
.action-content .title{
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size:42px;
    font-weight: bold;
    line-height: auto;
}
.subtitle{
    color:rgba(37,36,50,0.5);
    font-family: "Raleway", sans-serif;
    font-size:24px;
    font-weight: 400;
    line-height: 30px;
    
    
}
.launch-button{
       font-family: "Raleway", sans-serif;
        background-color: #4E47FF;
        height: 48px;
        width: 229px;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        line-height: 150%;
        border-radius: 8px;
        border-style: none;
}

.action-img img{
    border-radius:48px;
    height: 328px;
    width: 403px;
}
/* action section end */


/* productive-user start */
.productive-user{
    background:rgba(78, 71, 255,0.1);
    text-align: center;
    border-radius: 24px;
}
/* productive-user end */
.productive-user .title{
    padding-top: 20px;
    color: #252432;
    font-family: Raleway;
    font-size: 38px;
    font-weight: bold;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:158px;
    
}

.data{
    font-family: "Inter", sans-serif;
}

.data h5{
       margin:0px;
       font-size: 80px;
       font-weight: bold;
       color:#4E47FF;
}

.data p{
    font-size: 20px;
        color: rgba(0 ,0,0, 0.5);
        text-align: center;
        margin-top: 1px;
}
/* number section end */
 /* customer review section start */
 .customer-review{
    margin-top: 100px;
    gap: 500px;
 }
 .customer-review h3 {
     font-family: "Raleway", sans-serif;
     color: #252432;
     font-size: 42px;
     font-weight: 700;
     text-align: center;
 }
 .customer-review h2{
    color:#1E1E1E;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 24;
    line-height: 120%;
    letter-spacing:-2%;
 }
 .customer-review p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#1E1E1E;
 }
 
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.card{
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 24px 24px;
    height: 243;
    width: 366;
}

.star-img{
    display: flex;
    gap: 4px;
    
}
.reviewer-block{
    display: flex;
    gap: 15px
}

.reviewer-block p{
    font-family: "Inter", sans-serif;
    color: #757575;
    font-weight: 600;
    margin-bottom: 1px;
}

.reviewer-info{
margin-top: 6px;
}
.customer-review .date{
    font-family: "Inter", sans-serif;
        color: #B3B3B3;
        font-weight: 400;
        margin-top: 0px;
}

.reviewer-picture{
    height: 40px;
    width: 40px;
    border-radius: 999px;
    text-align: center;
    margin-top:20px
}

/* log in form newsletter started */
.logIn-newsletter{
    display: flex;
    justify-content: space-between;
    gap:auto;
    padding: 0 71px;
}

.logIn-newsletter .section-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 97px;
    line-height: 120%;
    color:#000000;
    margin-top: 130px;
}


form{
    margin: 71px 0px;
    gap:19px 0px;
}

form label{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
form input{
    margin-top:10px;
    padding: 10px 219px 10px 10px;
    border-radius:10px ;
    height: 70;
    width: auto;
    background-color: #FFFFFF;
    border-style: none;
}
textarea{
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 10px;
}

.logIn-newsletter button{
        margin-top: 19px;
        padding: 0px 101px;
        font-size: 16px;
        height: 48px;
        width: 360px;
        justify-content: center;
        margin-left:8px ;
        font-size:700 ;
}
/* log in form newsletter end */


/* ready section start */
.ready{
    background-color: #FFFFFF;
    height:696.77px ;
    width:auto ;
    border-radius:14px ;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
.ready .title{
    padding-top: 20px;
        color: #252432;
        font-family: Raleway;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0px;
}
.ready .subtitle{
    color:#000000;
    opacity: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.ready .start-button{
    font-family: "Raleway", sans-serif;
        background-color: #4E47FF;
        height: 48px;
        width: 229px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight:500;
        line-height: 150%;
        border-radius: 8px;
        border-style: none;
        text-align: center;
        
}

.ready button:hover{
    cursor: pointer;
        background-color: yellow;
        color: black;
}

.ready img{
    border-radius: 48px;
    margin-top: 30px;

}
/* ready section end */
/* footer started */
footer{
    margin: auto;
    text-align: center;
    height: 221px;
    width: 531px;
}
.footer p {
    margin: 0;
}
.website-name{
    font-family: "Inter", sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}

.Subtitle{
    margin-top: 25px;
    color: #8987A1;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400 ;
}
/* footer nav start */
.footer-nav {
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    gap:48px;
    color: #8987A1;
}
.footer-nav a{
    color: #8987A1;
    list-style: none;
        text-decoration: none;
}
/* footer nav end */